{% extends 'base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-header d-flex justify-content-between">
        <h5>Student Management Dashboard</h5>
        <a href="/add/" class="btn btn-primary btn-sm">+ Add Student</a>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th width="150">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for s in students %}
                <tr>
                    <td>{{ s.name }}</td>
                    <td>{{ s.email }}</td>
                    <td>{{ s.phone }}</td>
                    <td>
                        <a href="/edit/{{ s.id }}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button onclick="confirmDelete({{ s.id }})" class="btn btn-danger btn-sm">
    <i class="bi bi-trash"></i>
</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
function confirmDelete(id) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to recover this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/delete/" + id;
        }
    });
}
</script>
{% endblock %}


